*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
}

:root{
    --purple:var(--purple)
}

body{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(61,26,101,1) 72%, rgba(59,44,97,1) 82%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.BTN{
    cursor: pointer;
}
#container{
    width: 360px;
    max-width: 90vw;
    height: 85vh;
    max-height: 700px;
    border: 1px solid black;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.668);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
}



@media only screen and (max-width:340px) {
    #container{
        height: 90vh;
    }
}

#container #signUp-title{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 15%;
}

#container .formStyle{
    margin-top: 25%;
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



#container .formStyle input{
    padding: 14px 12px;
    border-radius: 5px;
}
#container .formStyle input::placeholder{
    color: gray;
}

#container *{
    outline: none;
    border: none;
}

#container .btn{
   width: 90%;
   padding: 12px;
   border-radius: 5px;
   margin: 0 auto;
   color: white;
   font-size: 1rem;
   font-weight: bold;
   background-color: rgb(111, 29, 166);
}

#container button{
    cursor: pointer;
}



/*login*/

#loginBox{
    position: absolute ;
    display: flex;
    bottom:-62%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius:40px;
    width: 100% !important;
    height: 75% !important;
    z-index: 1;
    transition: all 0.5s;

}
.BRadius60{
    border-top-left-radius: 60px !important;
    border-top-right-radius:60px !important;
}

#loginBox input{
    background-color: rgb(216, 211, 211);
}
#loginBox #loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 200px;
}

#loginBox #login-title{
   position: absolute;
   top: 5%;
   font-weight: bold;
   color:rgb(111, 29, 166) ;
}

.showLogin{
    bottom: 0 !important;
    transition: all 0.5s;
}

.FS2{
    font-size: 2.2rem ;
    transition: all 0.5s;

}

.FS1{
    font-size: 1.4rem ;
    transition: all 0.5s;

}
